In [133]:
import numpy as np
import pandas as pd

In [134]:
deliveries = pd.read_csv('deliveries.csv')

In [135]:
deliveries = deliveries[deliveries['over'] >= 16]

In [136]:
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
93,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,1,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
95,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,3,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
96,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,4,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
97,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,5,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [6]:
deliveries13 = deliveries[deliveries['match_id']>381]

In [8]:
deliveries13 = deliveries13[deliveries13['match_id']<458]

In [117]:
len(deliveries13)

18177

In [11]:
deliveries13.set_index(np.arange(0,18177), inplace = True)

In [15]:
batsman13 = deliveries13['batsman'].unique()

In [17]:
batsman13.sort()

In [72]:
pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][1]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
6137,407,1,Rajasthan Royals,Royal Challengers Bangalore,17,5,A Chandila,DH Yagnik,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6139,407,1,Rajasthan Royals,Royal Challengers Bangalore,18,1,A Chandila,S Sreesanth,R Vinay Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6140,407,1,Rajasthan Royals,Royal Challengers Bangalore,18,2,A Chandila,S Sreesanth,R Vinay Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6150,407,1,Rajasthan Royals,Royal Challengers Bangalore,19,6,A Chandila,SK Trivedi,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
6151,407,1,Rajasthan Royals,Royal Challengers Bangalore,20,1,A Chandila,SK Trivedi,R Rampaul,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6152,407,1,Rajasthan Royals,Royal Challengers Bangalore,20,2,A Chandila,SK Trivedi,R Rampaul,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [54]:
DeathOver13 = pd.read_excel('13DeathOver.xlsx')

In [55]:
DeathOver13

,Unnamed: 0,Unnamed: 0.1,Season,Player Name,Runs,Balls Faced,Outs,Total 4s,Total 6s
0,0,NaN,2013,A Ashish Reddy,NaN,18177,NaN,NaN,NaN
1,1,NaN,2013,A Chandila,NaN,18177,NaN,NaN,NaN
2,2,NaN,2013,A Mishra,NaN,18177,NaN,NaN,NaN
3,3,NaN,2013,A Mithun,NaN,18177,NaN,NaN,NaN
4,4,NaN,2013,A Mukund,NaN,18177,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
167,167,NaN,2013,WD Parnell,NaN,18177,NaN,NaN,NaN
168,168,NaN,2013,WP Saha,NaN,18177,NaN,NaN,NaN
169,169,NaN,2013,X Thalaivan Sargunam,NaN,18177,NaN,NaN,NaN
170,170,NaN,2013,YK Pathan,NaN,18177,NaN,NaN,NaN
171,171,NaN,2013,Yuvraj Singh,NaN,18177,NaN,NaN,NaN

In [22]:
DeathOver13['Player Name'] = batsman13

In [24]:
DeathOver13['Season'] = '2013'

In [56]:
for i in range(0, len(DeathOver13)):
    for x in range(0, len(deliveries13['batsman'])):
        if deliveries13['batsman'][x] == DeathOver13['Player Name'][i]:
            DeathOver13['Balls Faced'][i] = len(deliveries13[deliveries13 == DeathOver13['Player Name'][i]])

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [93]:
for index in range(0,len(DeathOver13['Player Name'])):
    DeathOver13['Balls Faced'][index] = len(pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][index])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
DeathOver13.drop('Unnamed: 0.1', axis = 1, inplace = True)

In [83]:
DeathOver13

     Season           Player Name  Runs  Balls Faced  Outs  Total 4s  Total 6s
0      2013        A Ashish Reddy   NaN           90   NaN       NaN       NaN
1      2013            A Chandila   NaN            6   NaN       NaN       NaN
2      2013              A Mishra   NaN          103   NaN       NaN       NaN
3      2013              A Mithun   NaN            2   NaN       NaN       NaN
4      2013              A Mukund   NaN           22   NaN       NaN       NaN
..      ...                   ...   ...          ...   ...       ...       ...
167    2013            WD Parnell   NaN            7   NaN       NaN       NaN
168    2013               WP Saha   NaN           57   NaN       NaN       NaN
169    2013  X Thalaivan Sargunam   NaN           17   NaN       NaN       NaN
170    2013             YK Pathan   NaN          247   NaN       NaN       NaN
171    2013          Yuvraj Singh   NaN          193   NaN       NaN       NaN

[172 rows x 7 columns]

In [90]:
pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][0]['batsman_runs'].sum()

125

In [94]:
for index in range(0,len(DeathOver13['Player Name'])):
    DeathOver13['Runs'][index] = pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][index]['batsman_runs'].sum()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [100]:
pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][0]['player_dismissed'].count()

6

In [101]:
pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][0]['player_dismissed']

596                 NaN
603                 NaN
605                 NaN
606                 NaN
1646                NaN
              ...
11275    A Ashish Reddy
12143               NaN
12147               NaN
12150               NaN
12152    A Ashish Reddy
Name: player_dismissed, Length: 90, dtype: object

In [104]:
sample = 0
for i in pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][0]['player_dismissed']:
    if i =='A Ashish Reddy':
        sample = sample + 1

In [105]:
sample

6

In [108]:
for index in range(0,len(DeathOver13['Player Name'])):
    DeathOver13['Outs'][index] = pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][index]['player_dismissed'].count()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [113]:
len(pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][0][pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][0]['batsman_runs'] == 4])

8

In [114]:
for index in range(0,len(DeathOver13['Player Name'])):
    DeathOver13['Total 4s'][index] = len(pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][index][pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][index]['batsman_runs'] == 4])
    DeathOver13['Total 6s'][index] = len(pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][index][pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][index]['batsman_runs'] == 6])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [116]:
DeathOver13.to_excel('13DeathOver.xlsx')

In [157]:
pd.DataFrame(deliveries13.groupby(by = 'batsman'))[1][0]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
596,384,1,Sunrisers Hyderabad,Pune Warriors,19,1,A Ashish Reddy,GH Vihari,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
603,384,1,Sunrisers Hyderabad,Pune Warriors,20,2,A Ashish Reddy,DB Ravi Teja,AB Dinda,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
605,384,1,Sunrisers Hyderabad,Pune Warriors,20,4,A Ashish Reddy,DB Ravi Teja,AB Dinda,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
606,384,1,Sunrisers Hyderabad,Pune Warriors,20,5,A Ashish Reddy,DB Ravi Teja,AB Dinda,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1646,388,2,Sunrisers Hyderabad,Royal Challengers Bangalore,17,2,A Ashish Reddy,GH Vihari,M Kartik,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11275,428,2,Sunrisers Hyderabad,Delhi Daredevils,6,7,A Ashish Reddy,PA Patel,A Nehra,0,...,0,0,0,0,0,0,0,A Ashish Reddy,caught,KM Jadhav
12143,432,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,7,A Ashish Reddy,CL White,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
12147,432,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,3,A Ashish Reddy,CL White,R Vinay Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
12150,432,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,6,A Ashish Reddy,CL White,R Vinay Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
12152,432,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,1,A Ashish Reddy,GH Vihari,RP Singh,0,...,0,0,0,0,0,0,0,A Ashish Reddy,bowled,NaN

In [252]:
def DeathOver(Year, Start, Final):
    deliveries_year = deliveries[deliveries['match_id']>Start]
    deliveries_year = deliveries_year[deliveries_year['match_id']<Final]
    deliveries_year.set_index(np.arange(0,len(deliveries_year)), inplace = True)
    batsman_year = deliveries_year['batsman'].unique()
    batsman_year.sort()
    DeathOver_year = pd.DataFrame(columns = ['Season', 'Player Name','Innings', 'Runs', 'Balls Faced', 'Outs', 'Not Outs', 'Total 4s', 'Total 6s', 'Batting Avg', 'Batting Strike Rate'])
    DeathOver_year['Player Name'] = np.arange(0, len(batsman_year))
    for i in range(0, len(batsman_year)):
        DeathOver_year['Player Name'][i] = batsman_year[i]
    DeathOver_year['Season'] = Year
    DeathOver_year[['Runs', 'Balls Faced', 'Outs', 'Total 4s', 'Total 6s']] = 0
    #DeathOver_year['Balls Faced'][115] = len(pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][115])
    for index in range(0,len(DeathOver_year)):
        DeathOver_year['Balls Faced'][index] = len(pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index])
        DeathOver_year['Runs'][index] = pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['batsman_runs'].sum()
        DeathOver_year['Outs'][index] = pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['player_dismissed'].count()
        DeathOver_year['Total 4s'][index] = len(pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index][pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['batsman_runs'] == 4])
        DeathOver_year['Total 6s'][index] = len(pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index][pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['batsman_runs'] == 6])
        DeathOver_year['Innings'][index] = len(pd.DataFrame(deliveries_year.groupby('batsman'))[1][index]['match_id'].unique())
        DeathOver_year['Not Outs'][index] = DeathOver_year['Innings'][index] - DeathOver_year['Outs'][index]
        if DeathOver_year['Outs'][index] == 0:
            DeathOver_year['Batting Avg'][index] = "-"
        else:
            DeathOver_year['Batting Avg'][index] = round(DeathOver_year['Runs'][index]/ DeathOver_year['Outs'][index], 2)
        DeathOver_year['Batting Strike Rate'][index] = round((DeathOver_year['Runs'][index]/DeathOver_year['Balls Faced'][index])*100,2)
    DeathOver_year.to_excel(Year+'DeathOverBatsman.xlsx')

In [253]:
DeathOver('2014', 457, 518)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [254]:
DeathOver('2015', 517, 577)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [255]:
DeathOver('2016', 576, 637)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [256]:
DeathOver('2017', 0, 60)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [257]:
DeathOver('2018', 7893, 7954)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [258]:
DeathOver('2019', 11136, 11416)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [259]:
DeathOver('2013', 381, 458)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [129]:
len(deliveries)

150460

In [211]:
pd.DataFrame(deliveries.groupby('batsman'))[1].iloc[8].iloc[200:]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
95207,402,1,Sunrisers Hyderabad,Pune Warriors,20,5,A Mishra,A Ashish Reddy,AB Dinda,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
95208,402,1,Sunrisers Hyderabad,Pune Warriors,20,6,A Mishra,A Ashish Reddy,AB Dinda,0,...,0,0,0,0,1,0,1,A Mishra,run out,MK Pandey
103197,435,2,Sunrisers Hyderabad,Chennai Super Kings,16,1,A Mishra,KV Sharma,RA Jadeja,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110548,466,2,Sunrisers Hyderabad,Kings XI Punjab,18,4,A Mishra,DW Steyn,MG Johnson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
110549,466,2,Sunrisers Hyderabad,Kings XI Punjab,18,5,A Mishra,DW Steyn,MG Johnson,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110552,466,2,Sunrisers Hyderabad,Kings XI Punjab,19,2,A Mishra,DW Steyn,L Balaji,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110556,466,2,Sunrisers Hyderabad,Kings XI Punjab,19,6,A Mishra,B Kumar,L Balaji,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110557,466,2,Sunrisers Hyderabad,Kings XI Punjab,20,1,A Mishra,B Kumar,R Dhawan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
115453,487,1,Sunrisers Hyderabad,Rajasthan Royals,20,4,A Mishra,IK Pathan,JP Faulkner,0,...,4,0,0,0,0,4,4,NaN,NaN,NaN
115454,487,1,Sunrisers Hyderabad,Rajasthan Royals,20,5,A Mishra,IK Pathan,JP Faulkner,0,...,0,0,0,0,0,0,0,A Mishra,run out,SV Samson
123180,519,2,Delhi Daredevils,Chennai Super Kings,18,6,A Mishra,JA Morkel,R Ashwin,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
123181,519,2,Delhi Daredevils,Chennai Super Kings,18,7,A Mishra,JA Morkel,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
123182,519,2,Delhi Daredevils,Chennai Super Kings,19,1,A Mishra,JA Morkel,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
123185,519,2,Delhi Daredevils,Chennai Super Kings,19,4,A Mishra,JA Morkel,A Nehra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
123186,519,2,Delhi Daredevils,Chennai Super Kings,19,5,A Mishra,JA Morkel,A Nehra,0,...,0,0,0,0,0,1,1,A Mishra,run out,MS Dhoni
126996,535,1,Delhi Daredevils,Kolkata Knight Riders,20,3,A Mishra,AD Mathews,UT Yadav,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
131171,553,2,Delhi Daredevils,Rajasthan Royals,19,9,A Mishra,SS Tiwary,DS Kulkarni,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
131173,553,2,Delhi Daredevils,Rajasthan Royals,20,2,A Mishra,SS Tiwary,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
131174,553,2,Delhi Daredevils,Rajasthan Royals,20,3,A Mishra,SS Tiwary,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136676,578,1,Delhi Daredevils,Kolkata Knight Riders,16,1,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136677,578,1,Delhi Daredevils,Kolkata Knight Riders,16,2,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136678,578,1,Delhi Daredevils,Kolkata Knight Riders,16,3,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136679,578,1,Delhi Daredevils,Kolkata Knight Riders,16,4,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,A Mishra,caught,G Gambhir
147412,623,2,Delhi Daredevils,Mumbai Indians,16,2,A Mishra,CH Morris,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
147413,623,2,Delhi Daredevils,Mumbai Indians,16,3,A Mishra,CH Morris,JJ Bumrah,0,...,0,0,0,0,0,0,0,A Mishra,bowled,NaN
155644,7915,2,Delhi Daredevils,Kings XI Punjab,19,4,A Mishra,SS Iyer,BB Sran,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
155646,7915,2,Delhi Daredevils,Kings XI Punjab,19,6,A Mishra,SS Iyer,BB Sran,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
172988,11325,2,Delhi Capitals,Mumbai Indians,18,3,A Mishra,K Rabada,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
172990,11325,2,Delhi Capitals,Mumbai Indians,18,5,A Mishra,K Rabada,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
172991,11325,2,Delhi Capitals,Mumbai Indians,18,6,A Mishra,K Rabada,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
172993,11325,2,Delhi Capitals,Mumbai Indians,19,2,A Mishra,K Rabada,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
172995,11325,2,Delhi Capitals,Mumbai Indians,19,4,A Mishra,K Rabada,SL Malinga,0,...,0,4,0,0,4,4,8,NaN,NaN,NaN
172996,11325,2,Delhi Capitals,Mumbai Indians,19,5,A Mishra,K Rabada,SL Malinga,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
172997,11325,2,Delhi Capitals,Mumbai Indians,19,6,A Mishra,K Rabada,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
173003,11325,2,Delhi Capitals,Mumbai Indians,20,5,A Mishra,I Sharma,HH Pandya,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
173004,11325,2,Delhi Capitals,Mumbai Indians,20,6,A Mishra,I Sharma,HH Pandya,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
176680,11341,2,Delhi Capitals,Chennai Super Kings,16,3,A Mishra,TA Boult,DJ Bravo,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
176681,11341,2,Delhi Capitals,Chennai Super Kings,16,4,A Mishra,TA Boult,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
176683,11341,2,Delhi Capitals,Chennai Super Kings,16,6,A Mishra,TA Boult,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
176684,11341,2,Delhi Capitals,Chennai Super Kings,17,1,A Mishra,TA Boult,Imran Tahir,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
176685,11341,2,Delhi Capitals,Chennai Super Kings,17,2,A Mishra,TA Boult,Imran Tahir,0,...,0,0,0,0,0,0,0,A Mishra,caught,MS Dhoni
178585,11413,2,Delhi Capitals,Sunrisers Hyderabad,20,1,A Mishra,K Paul,K Ahmed,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
178586,11413,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,K Paul,K Ahmed,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
178589,11413,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,K Paul,K Ahmed,0,...,0,0,0,0,0,0,0,A Mishra,obstructing the field,NaN
178701,11414,1,Delhi Capitals,Chennai Super Kings,18,7,A Mishra,RR Pant,DJ Bravo,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178706,11414,1,Delhi Capitals,Chennai Super Kings,19,5,A Mishra,TA Boult,DL Chahar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
178707,11414,1,Delhi Capitals,Chennai Super Kings,19,6,A Mishra,TA Boult,DL Chahar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [244]:
pd.DataFrame(deliveries.groupby(by = 'batsman'))[1][0]['player_dismissed'].count()

14

In [249]:
pd.DataFrame(deliveries.groupby('batsman'))[1].iloc[8].iloc[200:]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
95207,402,1,Sunrisers Hyderabad,Pune Warriors,20,5,A Mishra,A Ashish Reddy,AB Dinda,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
95208,402,1,Sunrisers Hyderabad,Pune Warriors,20,6,A Mishra,A Ashish Reddy,AB Dinda,0,...,0,0,0,0,1,0,1,A Mishra,run out,MK Pandey
103197,435,2,Sunrisers Hyderabad,Chennai Super Kings,16,1,A Mishra,KV Sharma,RA Jadeja,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110548,466,2,Sunrisers Hyderabad,Kings XI Punjab,18,4,A Mishra,DW Steyn,MG Johnson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
110549,466,2,Sunrisers Hyderabad,Kings XI Punjab,18,5,A Mishra,DW Steyn,MG Johnson,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110552,466,2,Sunrisers Hyderabad,Kings XI Punjab,19,2,A Mishra,DW Steyn,L Balaji,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110556,466,2,Sunrisers Hyderabad,Kings XI Punjab,19,6,A Mishra,B Kumar,L Balaji,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110557,466,2,Sunrisers Hyderabad,Kings XI Punjab,20,1,A Mishra,B Kumar,R Dhawan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
115453,487,1,Sunrisers Hyderabad,Rajasthan Royals,20,4,A Mishra,IK Pathan,JP Faulkner,0,...,4,0,0,0,0,4,4,NaN,NaN,NaN
115454,487,1,Sunrisers Hyderabad,Rajasthan Royals,20,5,A Mishra,IK Pathan,JP Faulkner,0,...,0,0,0,0,0,0,0,A Mishra,run out,SV Samson
123180,519,2,Delhi Daredevils,Chennai Super Kings,18,6,A Mishra,JA Morkel,R Ashwin,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
123181,519,2,Delhi Daredevils,Chennai Super Kings,18,7,A Mishra,JA Morkel,R Ashwin,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
123182,519,2,Delhi Daredevils,Chennai Super Kings,19,1,A Mishra,JA Morkel,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
123185,519,2,Delhi Daredevils,Chennai Super Kings,19,4,A Mishra,JA Morkel,A Nehra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
123186,519,2,Delhi Daredevils,Chennai Super Kings,19,5,A Mishra,JA Morkel,A Nehra,0,...,0,0,0,0,0,1,1,A Mishra,run out,MS Dhoni
126996,535,1,Delhi Daredevils,Kolkata Knight Riders,20,3,A Mishra,AD Mathews,UT Yadav,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
131171,553,2,Delhi Daredevils,Rajasthan Royals,19,9,A Mishra,SS Tiwary,DS Kulkarni,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
131173,553,2,Delhi Daredevils,Rajasthan Royals,20,2,A Mishra,SS Tiwary,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
131174,553,2,Delhi Daredevils,Rajasthan Royals,20,3,A Mishra,SS Tiwary,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136676,578,1,Delhi Daredevils,Kolkata Knight Riders,16,1,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136677,578,1,Delhi Daredevils,Kolkata Knight Riders,16,2,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136678,578,1,Delhi Daredevils,Kolkata Knight Riders,16,3,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136679,578,1,Delhi Daredevils,Kolkata Knight Riders,16,4,A Mishra,NM Coulter-Nile,GB Hogg,0,...,0,0,0,0,0,0,0,A Mishra,caught,G Gambhir
147412,623,2,Delhi Daredevils,Mumbai Indians,16,2,A Mishra,CH Morris,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
147413,623,2,Delhi Daredevils,Mumbai Indians,16,3,A Mishra,CH Morris,JJ Bumrah,0,...,0,0,0,0,0,0,0,A Mishra,bowled,NaN
155644,7915,2,Delhi Daredevils,Kings XI Punjab,19,4,A Mishra,SS Iyer,BB Sran,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
155646,7915,2,Delhi Daredevils,Kings XI Punjab,19,6,A Mishra,SS Iyer,BB Sran,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
172988,11325,2,Delhi Capitals,Mumbai Indians,18,3,A Mishra,K Rabada,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
172990,11325,2,Delhi Capitals,Mumbai Indians,18,5,A Mishra,K Rabada,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
172991,11325,2,Delhi Capitals,Mumbai Indians,18,6,A Mishra,K Rabada,JJ Bumrah,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
172993,11325,2,Delhi Capitals,Mumbai Indians,19,2,A Mishra,K Rabada,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
172995,11325,2,Delhi Capitals,Mumbai Indians,19,4,A Mishra,K Rabada,SL Malinga,0,...,0,4,0,0,4,4,8,NaN,NaN,NaN
172996,11325,2,Delhi Capitals,Mumbai Indians,19,5,A Mishra,K Rabada,SL Malinga,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
172997,11325,2,Delhi Capitals,Mumbai Indians,19,6,A Mishra,K Rabada,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
173003,11325,2,Delhi Capitals,Mumbai Indians,20,5,A Mishra,I Sharma,HH Pandya,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
173004,11325,2,Delhi Capitals,Mumbai Indians,20,6,A Mishra,I Sharma,HH Pandya,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
176680,11341,2,Delhi Capitals,Chennai Super Kings,16,3,A Mishra,TA Boult,DJ Bravo,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
176681,11341,2,Delhi Capitals,Chennai Super Kings,16,4,A Mishra,TA Boult,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
176683,11341,2,Delhi Capitals,Chennai Super Kings,16,6,A Mishra,TA Boult,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
176684,11341,2,Delhi Capitals,Chennai Super Kings,17,1,A Mishra,TA Boult,Imran Tahir,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
176685,11341,2,Delhi Capitals,Chennai Super Kings,17,2,A Mishra,TA Boult,Imran Tahir,0,...,0,0,0,0,0,0,0,A Mishra,caught,MS Dhoni
178585,11413,2,Delhi Capitals,Sunrisers Hyderabad,20,1,A Mishra,K Paul,K Ahmed,0,...,0,0,0,0,1,1,2,NaN,NaN,NaN
178586,11413,2,Delhi Capitals,Sunrisers Hyderabad,20,2,A Mishra,K Paul,K Ahmed,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
178589,11413,2,Delhi Capitals,Sunrisers Hyderabad,20,5,A Mishra,K Paul,K Ahmed,0,...,0,0,0,0,0,0,0,A Mishra,obstructing the field,NaN
178701,11414,1,Delhi Capitals,Chennai Super Kings,18,7,A Mishra,RR Pant,DJ Bravo,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
178706,11414,1,Delhi Capitals,Chennai Super Kings,19,5,A Mishra,TA Boult,DL Chahar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
178707,11414,1,Delhi Capitals,Chennai Super Kings,19,6,A Mishra,TA Boult,DL Chahar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [267]:
def PowerPlay(Year, Start, Final):
    deliveries = pd.read_csv('deliveries.csv')
    deliveries = deliveries[deliveries['over'] <= 6]
    deliveries_year = deliveries[deliveries['match_id']>Start]
    deliveries_year = deliveries_year[deliveries_year['match_id']<Final]
    deliveries_year.set_index(np.arange(0,len(deliveries_year)), inplace = True)
    batsman_year = deliveries_year['batsman'].unique()
    batsman_year.sort()
    PowerPlay_year = pd.DataFrame(columns = ['Season', 'Player Name','Innings', 'Runs', 'Balls Faced', 'Outs', 'Not Outs', 'Total 4s', 'Total 6s', 'Batting Avg', 'Batting Strike Rate'])
    PowerPlay_year['Player Name'] = np.arange(0, len(batsman_year))
    for i in range(0, len(batsman_year)):
        PowerPlay_year['Player Name'][i] = batsman_year[i]
    PowerPlay_year['Season'] = Year
    PowerPlay_year[['Runs', 'Balls Faced', 'Outs', 'Total 4s', 'Total 6s']] = 0
    for index in range(0,len(PowerPlay_year)):
        PowerPlay_year['Balls Faced'][index] = len(pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index])
        PowerPlay_year['Runs'][index] = pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['batsman_runs'].sum()
        PowerPlay_year['Outs'][index] = pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['player_dismissed'].count()
        PowerPlay_year['Total 4s'][index] = len(pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index][pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['batsman_runs'] == 4])
        PowerPlay_year['Total 6s'][index] = len(pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index][pd.DataFrame(deliveries_year.groupby(by = 'batsman'))[1][index]['batsman_runs'] == 6])
        PowerPlay_year['Innings'][index] = len(pd.DataFrame(deliveries_year.groupby('batsman'))[1][index]['match_id'].unique())
        PowerPlay_year['Not Outs'][index] = PowerPlay_year['Innings'][index] - PowerPlay_year['Outs'][index]
        if PowerPlay_year['Outs'][index] == 0:
            PowerPlay_year['Batting Avg'][index] = "-"
        else:
            PowerPlay_year['Batting Avg'][index] = round(PowerPlay_year['Runs'][index]/ PowerPlay_year['Outs'][index], 2)
        PowerPlay_year['Batting Strike Rate'][index] = round((PowerPlay_year['Runs'][index]/PowerPlay_year['Balls Faced'][index])*100,2)
    PowerPlay_year.to_excel(Year+'PowerPlayBatsman.xlsx')

In [268]:
PowerPlay('2014', 457, 518)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [269]:
PowerPlay('2013', 381, 458)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [270]:
PowerPlay('2015', 517, 577)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [271]:
PowerPlay('2016', 576, 637)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [272]:
PowerPlay('2017', 0, 60)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [273]:
PowerPlay('2018', 7893, 7954)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [274]:
PowerPlay('2019', 11136, 11416)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':